.content-editable {
	height: 100%;
	width: 100%;
	padding: 16px 8px;
	background-color: #ffffff;
	overflow-y: scroll;
	position: relative;
}

.editor-placeholder {
    position: absolute;
    top: 58px;
    padding-left: 10px;
}
